body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ort 'variables'\": expected \"{\", was \";\"\A         on line 2 of public_html/css/scss/main.scss\A \A 1: <<<<<<< HEAD\A 2: @import 'variables';\A 3: @import 'normalize';\A 4: \A 5: html, body {\A 6:     width: 100%;\A 7:     height: 100%;"; }
