*.class
.mtj.tmp/
.idea
.sass-cache
node_modules/
*.war
*.ear
*.iml
hs_err_pid*
public_html/dz.html
npm-debug.log
resources/db_config.xml
uno.iml
uno.iml
uno.iml
resources/db_config.xml