<fest:template xmlns:fest="http://fest.mail.ru">
    <div class="app"></div>
    <div class="overlay"></div>
    <div class="preloader">
        <div class="preloader__round"></div>
        <div class="preloader__round"></div>
        <div class="preloader__round"></div>
    </div>
    <div class="preload-text">
    	<div class="preload-text__text js-text">
    		
    	</div>
    </div>
</fest:template>