<fest:template xmlns:fest="http://fest.mail.ru">
    <fest:set name="app">
        <div class="app"></div>
        <fest:get name="preloader"></fest:get>
        <div class="error">
            <div class="error__text js-text">
                error
            </div>
        </div>
    </fest:set>
</fest:template>
