@font-face {
  font-family: 'robotol';
  src: url("/fonts/robotol.ttf"); }
.preloader {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #3498db;
  border-radius: 50px;
  animation: preloader 1.5s infinite linear;
  -webkit-animation: preloader 1.5s infinite linear;
  top: 40%;
  left: 50%;
  margin-left: -15px;
  z-index: 999; }

.preloader:after {
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 10px solid #9b59b6;
  border-bottom: 10px solid #9b59b6;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 50px;
  content: '';
  top: -20px;
  left: -20px;
  animation: preloader_after 1.5s infinite linear;
  -webkit-animation: preloader_after 1.5s infinite linear; }

@keyframes preloader {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg);
    background: #2ecc71; }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes preloader {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    background: #2ecc71; }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes preloader_after {
  0% {
    border-top: 10px solid #9b59b6;
    border-bottom: 10px solid #9b59b6; }
  50% {
    border-top: 10px solid #3498db;
    border-bottom: 10px solid #3498db; }
  100% {
    border-top: 10px solid #9b59b6;
    border-bottom: 10px solid #9b59b6; } }
@-webkit-keyframes preloader_after {
  0% {
    border-top: 10px solid #9b59b6;
    border-bottom: 10px solid #9b59b6; }
  50% {
    border-top: 10px solid #3498db;
    border-bottom: 10px solid #3498db; }
  100% {
    border-top: 10px solid #9b59b6;
    border-bottom: 10px solid #9b59b6; } }
.overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #555;
  opacity: 0.6;
  z-index: 99; }

.preload-text {
  display: none;
  position: absolute;
  width: 600px;
  top: 53%;
  left: 50%;
  margin-left: -300px;
  font-size: 25px;
  color: #eee;
  z-index: 100;
  text-align: center; }
  .preload-text__text {
    display: inline; }

html, body {
  width: 100%;
  height: 100%;
  background: #D91E18;
  margin: 0;
  padding: 0; }

.form {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20%;
  border: 2px solid #a00307;
  border-radius: 2px; }
  .form__input {
    width: 390px;
    height: 30px;
    border: 1px solid #a00307;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 18px;
    outline: none;
    padding: 0 5px;
    font-family: "robotol", Helvetica, Arial; }

@media screen and (max-width: 480px) {
  .form {
    width: 300px;
    padding: 60px 10px;
    border: none; }
    .form__input {
      width: 290px; } }
.btn {
  display: block;
  width: 300px;
  margin: 0 auto;
  background: #CF000F;
  border: 1px solid #a00307;
  font-family: "robotol", Helvetica, Arial;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
  color: #EEEccc;
  text-decoration: none;
  font-size: 21px;
  cursor: pointer;
  outline: none; }
  @media screen and (max-width: 480px) {
    .btn {
      display: inline-block;
      margin: 10px 0 0 0;
      max-width: 300px;
      width: 100%;
      min-width: 200px; } }

.cards {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  bottom: 0;
  width: 860px;
  left: 50%;
  margin-left: -430px;
  padding: 30px; }
  .cards__card {
    background-image: url(/images/cards.png);
    display: inline-block;
    cursor: pointer; }
    .cards__card_selected {
      border: 3px solid #446CB3;
      border-radius: 25px; }

.player-cards {
  overflow: hidden; }
  .player-cards__card {
    max-width: 97px;
    min-width: 4px;
    height: 150px;
    background-color: #e2e3e4;
    background-image: url("/images/back.png");
    background-size: auto 100%;
    background-position: right center;
    float: left; }
    .player-cards__card_first {
      width: 97px;
      border-radius: 5px 0 0 5px; }
    .player-cards__card_last {
      border-radius: 0 5px 5px 0; }

html, body {
  width: 100%;
  height: 100%;
  max-width: 480px;
  overflow: hidden; }

.page {
  width: 100%;
  height: 100%; }

.cards {
  overflow: hidden;
  z-index: 10;
  top: 150px;
  left: 0;
  margin-left: 0;
  margin-top: 3px;
  padding: 0;
  height: 186px;
  width: 1000px; }
  .cards__card {
    display: block;
    float: left; }
    .cards__card_selected {
      margin-top: 0px;
      border: 3px solid #446CB3;
      border-radius: 25px; }

/*# sourceMappingURL=main.css.map */
