.b-table {
  top: 30%;
  left: 40%;
  position: absolute;
  overflow: hidden;
  padding: 10px;
  background-color: $blueColor;
  border: 2px solid $secondaryColor;
  border-radius: 5px;

  &__current {
    background-image: url("/images/cards.png");
    float: left;
    width: 120px;
    height: 180px;
    border: 1px solid black;
    border-radius: 21px;
  }

  &__new {
    position: absolute;
    width: 120px;
    height: 180px;
    top: -30px;
    opacity: 0;
    left: 131px;
    background-image: url("/images/cards.png");
  }

  &__deck {
    float: left;
    background-image: url(/images/back.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 180px;
    cursor: pointer;
  }

  &__uno {
    position: relative;
    clear: left;
    width: 100px;
    padding: 10px 0;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    font-family: $font;
    font-size: 25px;
    text-shadow: 1px 0 0 $logoColor, -1px 0 0 $logoColor, 0 1px 0 $logoColor, 0 -1px 0 $logoColor, 1px 1px $logoColor, -1px -1px 0 $logoColor, 1px -1px 0 $logoColor, -1px 1px 0 $logoColor;
    color: $mainColor;
  }

}