.btn {
  display: block;
  width: 300px;
  margin: 0 auto;
  background: #CF000F;
  border: 1px solid rgb(160,3,7);
  font-family: $font;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
  color: #EEEccc;
  text-decoration: none;
  font-size: 21px;
  cursor: pointer;
  outline: none;
}