.cards-wrap {

}

.cards {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  bottom: 0;
  width: 100%;
  text-align: center;

  &__wrap {
    display: inline-block;
  }

  &__card {
    background-image: url(/images/cards.png);
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    position: relative;

    &_selected {
      border: 3px solid #446CB3;
      border-radius: 25px;
    }
  }
}

.player-cards {
  overflow: hidden;
  &__card {
    max-width: 97px;
    min-width: 4px;
    height: 150px;
    background-color: rgb(226,227,228);
    background-image: url("/images/back.png");
    background-size: auto 100%;
    background-position: right center;
    float: left;

    &_first {
      width: 97px;
      border-radius: 5px 0 0 5px;
    }

    &_last {
      border-radius: 0 5px 5px 0;
    }
  }
}
