.end {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  background-color: $mainColor;
  border: 2px solid $secondaryColor;
  border-radius: 5px;
  color: #ffffff;

  &__title {
    margin: 10px;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }

  &__scores {
    width: 100%;
    margin: 10px;
  }

  &__score {
    padding: 5px;

    &__login {
      display: inline-block;
      width: 220px;
      text-align: right;
    }

    &__value {
      margin-left: 20px;
      display: inline-block;
      text-align: left;
    }

  }

  &__btn {
    padding: 10px;
    text-align: center;
  }
}