.profile {
    text-align: center;

    &__title {
        display: inline-block;
        color: #fff;
        font-size: 22px;
        margin-top: 40px;
    }
}

.email-field {
    overflow: hidden;
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;

    &__title {
         float: left;
         color: #fff;
         font-size: 18px;
     }

    &__value {
         float: left;
         color: #eee;
         font-size: 18px;
         font-weight: bold;
         margin-left: 40px;
     }
}

.login-field {
    overflow: hidden;
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;

    &__title {
        float: left;
        color: #fff;
        font-size: 18px;
    }

    &__input {
        float: left;
        color: #c00;
        font-size: 18px;
        font-weight: bold;
        margin-left: 40px;
    }
}
