$mainColor: #D91E18;
$secondaryColor: rgb(160,3,7);
$yellowColor: rgb(255, 168, 0);
$redColor: rgb(255, 49, 64);
$greenColor: rgb(0,178, 87);
$blueColor: rgb(107, 36, 255);
$logoColor: rgb(255, 218, 47);
$titleColor: #ffffff;

$buttonBackground: linear-gradient(rgb(200,3,7), rgb(180,3,7));

$buttonBorder: 3px solid rgb(160,3,7);

@font-face {
  font-family: 'robotol';
  src: url('/fonts/robotol.ttf');
}

$font: 'robotol', Helvetica, Arial;