$mainColor: #D91E18;
$secondaryColor: rgb(160,3,7);

$titleColor: #ffffff;

$buttonBackground: linear-gradient(rgb(200,3,7), rgb(180,3,7));

$buttonBorder: 3px solid rgb(160,3,7);

@font-face {
  font-family: 'robotol';
  src: url('/fonts/robotol.ttf');
}

$font: 'robotol', Helvetica, Arial;