@import 'normalize';
@import 'variables';
@import 'game';
@import 'profile';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.hw {
    border: 3px solid black;
}

.app {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: radial-gradient(350px, rgb(250,1,7), rgb(160,3,7));
    font-family: Verdana;
}

.main {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.main__title {
    display: inline-block;
    font-size: 70px;
    margin: 0 auto;
    margin-top: 130px;
    color: rgba(255, 218, 46, 1);
    font-weight: bold;
    text-shadow: 3px 3px 1px #a2932b;
    -webkit-transform-origin: top left;
    -webkit-transform: rotate(-25deg);
}

.main__button {
    display: block;
    width: 300px;
    margin: 0 auto;
    background: linear-gradient(rgb(200,3,7), rgb(180,3,7));
    border: 3px solid rgb(160,3,7);
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}


.login-form {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20%;
    border: 3px solid rgb(160,3,7);
    border-radius: 10px;
}

.signup-form {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20%;
    border: 3px solid rgb(160,3,7);
    border-radius: 10px;
}


.form__input {
    width: 100%;
    height: 30px;
    border: 3px solid rgb(160,3,7);
    border-radius: 5px;
    margin-bottom: 10px;
}

.form__button {
    color: #fff;
    margin: 10px;
    padding: 10px 20px;
    background: $buttonBackground;
    border: $buttonBorder;
    border-radius: 10px;
}

.scoreboard {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.scoreboard__title {
    display: inline-block;
    font-size: 20px;
    color: $titleColor;
    margin-top: 40px;
}

.score {
    padding: 20px;
    overflow: hidden;
}

.score__login {
    color: #fff;
    float: left;
}

.score__value {
    color: #999;
    float: left;
    margin-left: 30px;
}