@import "blocks/media";
@import 'variables';
@import 'game';
@import 'profile';
@import 'blocks/btn';
@import 'blocks/title';
@import 'blocks/preloader';
@import 'blocks/form';
@import 'blocks/page';
@import 'blocks/error';
@import 'blocks/b-table';

.main {
    text-align: center;
}

.app {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #D91E18;
    font-family: $font;
}

.scoreboard {
    width: 900px;
    margin: 0 auto;
    text-align: center;

    &__title {
        display: inline-block;
        font-size: 25px;
        color: $titleColor;
        margin: 30px;
        font-weight: bold;
    }
}


.score {
    overflow: hidden;
    text-align: center;
    font-size: 22px;
    padding: 5px;

    &__login {
        display: inline-block;
        color: #fff;
        width: 200px;
        border: 2px solid $secondaryColor;
        padding: 10px;
    }

    &__value {
        display: inline-block;
        width: 200px;
        color: #999;
        margin-left: 2px;
        border: 2px solid $secondaryColor;
        padding: 10px;
    }

}
